{% extends 'base.html.twig' %}

{% block title %}Mettre à jour le produit{% endblock %}

{% block body %}
	<main class="container py-4 mt-0 shadow-lg md:mt-12">

	    <h1>Mettre à jour le produit</h1>

    {{ include('product/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    	{{ include('product/_delete_form.html.twig') }}
    	<a class="btn" href="{{ path('product_index') }}">Revenir à la liste</a>
	</div>
{% endblock %}
