{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
<main class="container py-4 mt-0 shadow-lg md:mt-12">

    <h1>Créer un nouveau produit</h1>

    {{ include('product/_form.html.twig') }}

	    <a class="btn" href="{{ path('product_index') }}">Revenir à la liste</a>
	</div>
{% endblock %}
